<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Left page</title>
</head>
<body>

   <div class="container bg-danger py-5">
   <a href="/addproduct"><div class="row">Add Product</div></a>
   <a href="/viewproduct"><div class="row">View Product</div></a>
   <a href="/viewregister"><div class="row">View register</div></a>
   <a href="/viewcontact"><div class="row">View Contacts</div></a>
   <a href="/addcategory"><div class="row">Add Category</div></a>
   
   </div>
    
</body>
</html>