<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<style>
    
</style>
<div class="container-fluid bg-dark">

	<div class="row py-4 px-5">
		<div class="col-3">
			<span class="fotter1">Supermart</span><br>
			<a href="aboutus.html">About us</a><br>
            <a href="news.html">In News</a><br>
            <a href="greenbigbasket.html">Green bigbasket</a><br>
            <a href="privacy.html">Privacy Policy</a><br>
            <a href="terms.html">Terms and Conditions</a><br>
            <a href="bbinstant.html">bb Instant</a><br>
            
	</div>

	<div class="col-3 border-end ms-5">
		<span class="fotter1">Help</span><br>
        <a href="faq.html">FAQs</a><br>
         <a href="contact.html">Contact Us</a><br>
         <a href="bbfaq.html">bb Wallet FAQs</a><br>
         <a href="bbt&c.html">bb Wallet T&Cs</a><br>
      
     </div>
     <div class="col-4 px-5 py-5">
     	<span class="fotter1"><h1>Super Mart</h1><br>
     	 <a href="https://www.facebook.com/pages/Bigbasketcom/139311472851666"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/Bigbasket_com" class="ms-3"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/bigbasketcom/" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://in.pinterest.com/bigbasketcom/" class="ms-3"><i class="fa-brands fa-pinterest" style="color: #c0c1c4;"></i></a>
</span>
</div>
</div>
</div>
<div class="container-fluid bg-dark fotter1 border-top">
Copyright © 2024-2025 Smartmarket Grocery Supplies Pvt Ltd
	</div>